# https://github.com/sc-forks/solidity-coverage/blob/master/docs/faq.md

sudo: required
dist: trusty
language: node_js
node_js:
  - '7'
env:
  -
  - SOLIDITY_COVERAGE=true
install:
  - npm install -g truffle
  - npm install -g ethereumjs-testrpc
  - npm install
script:
  - npm test
before_script:
  - testrpc > /dev/null &
  - sleep 5
after_script:
  - npm run coverage && cat coverage/lcov.info | coveralls
